# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code（多人协作，推荐忽略）
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# iOS
**/ios/Flutter/.last_build_id

# Android（本地差异）
android/local.properties
android/.gradle/
android/build/

# Logs
*.log
